<!DOCTYPE html>
<html>

<body>

    <h1>Hello this is the start of my project LaputaMeter</h1>
    <p>LaputaMeter is an application designed to provide users with an intuitive tool for the responsible managment of
        their personal finances.
        Its goal is to empower individuals to take control of ther financial well-being by offering clarity and
        simplicity in managing their assets and expenses.

        LaputaMeter focuses on:
        Personal Finance Managment: it allows users to categorize and visualize their income and expenses clearly,
        making it easier to understand spending habits and make informed financial decisions.

        Savings Organization: it provides tools to set savings goals, track progress, and manage different funds
        allocated for specific objetives, from a trip to a long-term investment.

        Bank Account Control: it centralizes information from multiple bank accounts into a single interface, offering
        users a consolidated real-time view of their financial status.

        Monitoring Unexpected Expenses: A disctinctive feature of LaputaMeter is its ability to help indentify and
        monitor unplanned expenses. This enables users to detect unforeseen spending patterns and adjust their budgest
        accordingly.

    </p>

</body>

</html>